[submodule "images/docker-library/postgres"]
	path = images/docker-library/postgres
	url = https://github.com/docker-library/postgres.git
[submodule "images/docker-library/php"]
	path = images/docker-library/php
	url = https://github.com/docker-library/php.git
[submodule "images/docker-library/redis"]
	path = images/docker-library/redis
	url = https://github.com/docker-library/redis.git
[submodule "images/docker-library/mariadb"]
	path = images/docker-library/mariadb
	url = https://github.com/docker-library/mariadb.git
[submodule "libraries/buildpack-deps"]
	path = libraries/buildpack-deps
	url = https://github.com/docker-library/buildpack-deps.git
[submodule "libraries/python"]
	path = libraries/python
	url = https://github.com/docker-library/python.git
[submodule "libraries/docker-nginx"]
	path = libraries/docker-nginx
	url = https://github.com/nginxinc/docker-nginx.git
