adal==0.4.5
appdirs==1.4.3
asn1crypto==0.22.0
azure-common==1.1.4
azure-mgmt-nspkg==1.0.0
azure-mgmt-storage==0.31.0
azure-nspkg==1.0.0
azure-storage==0.34.0
certifi==2017.1.23
cffi==1.10.0
cryptography==3.2
enum34==1.1.6
futures==3.0.5
idna==2.5
ipaddress==1.0.18
isodate==0.5.4
keyring==10.3.1
msrest==0.4.7
msrestazure==0.4.7
oauthlib==2.0.2
packaging==16.8
pycparser==2.17
PyJWT==1.4.2
pyparsing==2.2.0
python-dateutil==2.6.0
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
